{% extends 'info/base.html' %}
{% load static %}





{% block content %}
</br>


    <h1>Choose one of Orders :</h1>

                <a class="btn btn-primary btn-sm" href="{% url 'info:orderingByReason' %}" role="button">By Reason</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:orderingByCity' %}" role="button">By City</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:orderingByRate' %}" role="button">By Rate</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:userOrdering' %}" role="button">By user</a>


{% endblock %}
