{% extends 'info/base.html' %}
{% load static %}





{% block content %}
</br>


    <h1>Choose one of them :</h1>

                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'u' %}" role="button">university</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'd' %}" role="button">highschool</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'a' %}" role="button">Friend</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'g' %}" role="button">game</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 's' %}" role="button">school</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'o' %}" role="button">other</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'f' %}" role="button">family</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:setlist' 'i' %}" role="button">instagram</a>




{% endblock %}
