{% extends 'info/base.html' %}
{% load static %}





{% block content %}
</br>
<h1>amounts : {{amount}}</h1>
<div class="row row-cols-2 row-cols-md-5 g-4">
    {% for user in users %}

          <div class="col">
            <div class="card">

                <img src="{% if user.Avatar %}{{user.Avatar.url}}{% else %}{% static 'panel/m.jfif' %}{% endif %}" >

              <div class="card-body">
                <span class="badge rounded-pill text-bg-primary">{{user.name}}</span>


                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'u' %}" role="button">university</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'h' %}" role="button">highschool</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'a' %}" role="button">Friend</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'g' %}" role="button">game</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 's' %}" role="button">school</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'o' %}" role="button">other</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'f' %}" role="button">family</a>
                <a class="btn btn-primary btn-sm" href="{% url 'info:set' user.username 'i' %}" role="button">instagram</a>

              </div>
            </div>
          </div>


    {% endfor %}

</div>

{% endblock %}
