{% load static %}

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="{% if user.Avatar %}{{user.Avatar.url}}{% else %}{% static 'panel/assets/images/users/avatar-1.jpg' %}{% endif %}" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">{{user.full_name}}</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#" >
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->


        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
              <li class="text-muted menu-title">دسته بندی ها</li>

                <li>
                    <a href="index.html" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>

                

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> رابط کاربی </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">دکمه ها</a></li>
                        <li><a href="ui-cards.html">کارد</a></li>
                        <li><a href="ui-draggable-cards.html">کارت های جابه جا شونده</a></li>
                        <li><a href="ui-checkbox-radio.html">چک باکس ها</a></li>
                        <li><a href="ui-material-icons.html">آیکون های طراحی متریال</a></li>
                        <li><a href="ui-font-awesome-icons.html">فونت آسوم</a></li>
                        <li><a href="ui-themify-icons.html">تم فی آیکون</a></li>
                        <li><a href="ui-modals.html">مدل ها</a></li>
                        <li><a href="ui-notification.html">اطلاعات</a></li>
                        <li><a href="ui-range-slider.html">نوار تغیرات</a></li>
                        <li><a href="ui-components.html">اجزا</a>
                        <li><a href="ui-sweetalert.html">هشدار ها</a>
                        <li><a href="ui-treeview.html">نمایش درختی</a>
                        <li><a href="ui-widgets.html">ویجت ها</a></li>
                    </ul>
                </li>



            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
      </div>
  </div>
