{% extends 'panel/base.html' %}


{% block title %}صفحه اصلی{% endblock %}


{% block Content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card-box">

      <h4 class="header-title m-t-0 m-b-30">چند انتخابی</h4>
      <h5><strong></strong></h5>
      <p class="text-muted m-b-15 font-13">
                با کد<code>
                    &lt;select multiple /&gt;</code>
                انتخاب های آسانی داشته باشید
            </p>

            <select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]" data-plugin="multiselect">
                <option>علی یدالهی</option>
                <option>علی حسینی</option>
                <option selected>فرهاد پور هاشم</option>
                <option selected>یزدان نوروزی</option>
                <option>عیسی زارع پور</option>
                <option>مجتبی پور نصر اله</option>
                <option>مهرداد مسلمی</option>

                <option selected>حسن محقق</option>
                <option>محمد احمدی</option>
                <option>بهزاد </option>
                <option>پیمان</option>
                <option>نیما</option>

            </select>







        </div>
    </div><!-- end col -->
</div>
<!-- end row -->
{% endblock %}
