{% extends 'panel/base.html' %}
{% load static %}

{% block title %}صفحه اصلی{% endblock %}


{% block Content %}
<div class="row">

  <div class="col-lg-3 col-md-6">
  <div class="card-box">
          <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                  <i class="zmdi zmdi-more-vert"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">فعال</a></li>
                  <li><a href="#">متن اول</a></li>
                  <li><a href="#">متن دوم</a></li>
                  <li class="divider"></li>
                  <li><a href="#">متن پاورقی</a></li>
              </ul>
          </div>

    <h4 class="header-title m-t-0 m-b-30">سفارش های ارسال شده این هفته</h4>

          <div class="widget-box-2">
              <div class="widget-detail-2">
                  <span class="badge badge-danger pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                  <h2 class="m-b-0"> 8451 </h2>
                  <p class="text-muted m-b-25">درآمد امروز</p>
              </div>
              <div class="progress progress-bar-danger-alt progress-sm m-b-0">
                  <div class="progress-bar progress-bar-danger" role="progressbar"
                       aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                       style="width: 32%;">
                      <span class="sr-only">77% مجموع</span>
                  </div>
              </div>
          </div>
  </div>
  </div><!-- end col -->



    <div class="col-lg-3 col-md-6">
    <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">فعال</a></li>
                    <li><a href="#">متن اول</a></li>
                    <li><a href="#">متن دوم</a></li>
                    <li class="divider"></li>
                    <li><a href="#">متن پاورقی</a></li>
                </ul>
            </div>

      <h4 class="header-title m-t-0 m-b-30">سفارش های ثبت شده</h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                    <h2 class="m-b-0"> 8451 </h2>
                    <p class="text-muted m-b-25">سفارش های ثبت شده</p>
                </div>
                <div class="progress progress-bar-success-alt progress-sm m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                         style="width: 77%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
    </div>
    </div><!-- end col -->


    <div class="col-lg-3 col-md-6">
    <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">فعال</a></li>
                    <li><a href="#">متن اول</a></li>
                    <li><a href="#">متن دوم</a></li>
                    <li class="divider"></li>
                    <li><a href="#">متن پاورقی</a></li>
                </ul>
            </div>

      <h4 class="header-title m-t-0 m-b-30">تعداد ثبت نام امروز</h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <span class="badge badge-blue pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                    <h2 class="m-b-0"> 158 </h2>
                    <p class="text-muted m-b-25">تعداد ثبت نام امروز</p>
                </div>
                <div class="progress progress-bar-blue-alt progress-sm m-b-0">
                    <div class="progress-bar progress-bar-blue" role="progressbar"
                         aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                         style="width: 77%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
    </div>
    </div><!-- end col -->


    <div class="col-lg-3 col-md-6">
    <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">فعال</a></li>
                    <li><a href="#">متن اول</a></li>
                    <li><a href="#">متن دوم</a></li>
                    <li class="divider"></li>
                    <li><a href="#">متن پاورقی</a></li>
                </ul>
            </div>

      <h4 class="header-title m-t-0 m-b-30">بازدید از صفحه اصلی در امروز</h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <span class="badge badge-pink pull-left m-t-20">32 %</span>
                    <h2 class="m-b-0"> 158 </h2>
                    <p class="text-muted m-b-25">درصد کاربران لاگین نشده - کل</p>
                </div>
                <div class="progress progress-bar-pink-alt progress-sm m-b-0">
                    <div class="progress-bar progress-bar-pink" role="progressbar"
                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                         style="width: 20%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
    </div>
    </div><!-- end col -->

</div>
<!-- end row -->

<div class="row">
  {% for user in users %}
    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-user">
            <div>
                <img src="{% if user.Avatar %}{{user.Avatar.url}}{% else %}{% static 'panel/m.jfif' %}{% endif %}" class="img-responsive img-circle" alt="user">
                <div class="wid-u-info">
                    <h4 class="m-t-0 m-b-5 font-600">{{user.name}}</h4>
                    <p class="text-muted m-b-5 font-13">{{user.phoneNumber}}</p>
                    <small class="text-warning"><b>مدیر کل</b></small>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    {% endfor %}
</div>
<!-- end row -->

{% endblock %}
